nav {
  background-color: var(--primary-grey);
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--primary-white);
  position: sticky;
  top: 0;
  z-index: 100;
}

.icon {
  color: var(--primary-white);
  font-size: xx-large;
  font-weight: 800;
}

/* .............harmburger.......... */
.nav-harm {
  display: none;
  color: #3c72fc;
  font-size: 24px;
}

/* .........MOBILE VIEW........ */

@media all and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .nav-harm {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
